.App {
width: 100%;
height: 110vh;
padding-top: 10px;
background-color: rgb(152, 249, 236);
font-family: Lato;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.logocalcu-contenedor {
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.osos-logo {
  height: 200px;
  margin-top: 140px;
  margin-bottom: 60px;
}

.contenedor-calculadora {
  margin-top: 80px;
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: rgb(221, 171, 228);
  border-radius: 20px;
  border: 8px solid rgb(66, 65, 156);
  
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gatito{
  width: 60px;
  border-radius: 40px;
  border: solid  rgb(210, 118, 197);
  display: flex;
  align-items: center;
  justify-content: center;

}

.descripcion {
 margin-left: 100px;
 font-family: cursive;
 color: rgb(250, 209, 244);
 display: flex;
 align-items: center;
 justify-content: center;
}